{name, "jiffy"}.
{authors, ["Paul J. Davis <paul.joseph.davis@gmail.com>"]}.
{description, "JSON NIFs for Erlang"}.
{homepage, "https://github.com/davisp/jiffy"}.
{license,"MIT","LICENSE"}.
{rebar_compatible, true}.
{url, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}}.
{applications, [jiffy]}.
